html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
}

body {
  background-image: url(img/bg-new-york.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: "Open Sans", sans-serif;
  color: white;
}

/* Primera pantalla de la pagina, header y nav*/
header {
  width: 100%;
}

nav {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  background: linear-gradient(to left, transparent, lightblue);
  position: absolute;
  width: 100%;
}
nav span {
  display: flex;
  flex: 2;
  margin: auto 1em;
}
nav span label {
  font-size: 32px;
  align-self: center;
  color: #000;
  margin-left: 10px;
}
nav span img {
  padding: auto 0 auto 0.8em;
  height: 2em;
}
header a {
  text-decoration: none;
  color: #000;
  padding: 0 10px;
  font-style: bold;
  font-size: 1.5em;
  margin: 10px;
  text-align: center;
}
header nav a:hover {
  border: 2px solid #000;
  border-radius: 25%;
  box-shadow: 10px 10px 8px #000;
  transition: all 0.5s;
  cursor: pointer;
}
#nav__btn-menu {
  display: none;
}
#nav__btn-menu:hover {
  box-shadow: none;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 590px) {
  nav {
    display: grid;
    grid-template: repeat(5, 1fr) / 1fr 1fr;
    top: -210px;
    transition: all 0.5s;
  }
  nav:hover {
    top: 0px;
    margin: 0 0 20px 0;
    cursor: pointer;
  }
  nav span {
    grid-row: 1 / span 5;
    align-self: flex-end;
    justify-self: center;
    margin: 5px;
  }
  nav span label {
    font-size: 15px;
  }
  nav span img {
    height: 2.5em;
  }
  #nav__btn-menu {
    display: inline-block;
  }
  .titulos-header--h1 {
    color: #000;
  }
  .titulos-header--a {
    color: #000;
  }
}

.titulos-header {
  display: grid;
  grid-template: 1fr 1fr / 1fr;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 250px 0 200px;
  margin: auto;
  text-align: center;
}
.titulos-header--h1 {
  animation: animationHeader 3s ease 1 .5s normal forwards;
  color: #222;
  letter-spacing: 1px;
  transition: all .8s;
}
/* Animacion para el titulo de la pagina */
@keyframes animationHeader {
  0% {
    letter-spacing: 25px;
  }
  50% {
    letter-spacing: 45px;
  }
  100% {
    font-size: 4em;
    letter-spacing: 1px;
  }
}

.titulos-header--h1:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.titulos-header--a > a {
  color: #fff;
  font-style: normal;
  font-size: 15px;
  justify-self: center;
  align-self: flex-start;
  transition: all 0.8s;
  text-decoration: none;
  margin: 50px 0;
}

.titulos-header--a > a:hover {
  border: 2px solid #000;
  border-radius: 25%;
  box-shadow: 10px 10px 8px #000;
  cursor: pointer;
}

/* Contenido principal de la pagina */

h2 {
  text-align: center;
  margin: 30px 0 10px;
  font-size: 30px;
}

.contenedor {
  width: 100%;
  padding: 10px;
}

.sobre-mi {
  background: linear-gradient(to bottom, transparent, rgb(37, 36, 94));
}

.techs {
  background: linear-gradient(to bottom, rgb(37, 36, 94), rgb(15, 161, 27));
}
.proyectos {
  background: linear-gradient(to bottom, rgb(15, 161, 27), #333);
}
footer {
  background: linear-gradient(to bottom, #333, #000);
}

/* Modelo de la carta para temas distintos */

.container-sobre-mi{
  width: 90%;
  margin: auto;
}

.flex-sobre-mi{
  display: flex;
  flex-flow: row wrap;

}
.flex-sobre-mi__imgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px;
  margin-right: 20px;
  flex: 1;
}
.flex-sobre-mi__imgs img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.flex-sobre-mi__info {
  flex: 2;
}
.flex-sobre-mi__info p {
  text-align: justify;
}
@media screen and (max-width: 900px){
  .flex-sobre-mi{
    flex-flow: column wrap;
  }
  .flex-sobre-mi__imgs{
    margin: 10px auto;
  }
}

 /* Seccion de conocimientos y tecnologias aprendidas */
 .techs > div {
  display: flex;
  flex-flow: row wrap;
}

.techs div div {
  flex: 1;
  min-width: 250px;
}

.conocimientos > div{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
}

.conocimientos .conocimientos__img {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  /* border: 2px solid #fff; */
}

.conocimientos__img div {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  margin-bottom: 20px;
  /* border: 2px solid #fff; */
}

.conocimientos__img div img{
  flex: 3;
  max-height: 150px;
  min-height: 50px;
}
.conocimientos__ilustracion {
  display: flex;
  justify-content: center;
  flex: 2;
  margin-bottom: 10px;
  
}
.conocimientos__ilustracion img{
  max-height: 250px;
  min-height: 200px;
  /* border: 2px solid #fff; */
}

@media screen and (max-width: 800px) {
  .conocimientos .conocimientos__img {
    grid-template: 1fr 1fr 1fr 1fr / 1fr;
  }
  .conocimientos__ilustracion img{
    height: 200px;
  }
}

/* Seccion de proyectos */

.proyectos:hover .animatedCubic {
  animation: moveslefttoRight 4s ease .5s infinite alternate both;
}

.proyectos {
  display: flex;
  justify-content: space-evenly;
  flex-flow: column wrap;
  margin-bottom: 0;
}
.proyectos-p {
  text-align: center;
  margin: 20px auto 0;
}

.proyectos-p a {
  color: #48e;
}

.grid-container {
  display: grid;
  grid-gap: 40px;
  min-width: 200px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
}

.grid-item {
  justify-self: flex-end;
  box-shadow: 0 0 30px #333;
}

.grid-item:hover {
  transform: translateY(-.5%);
  box-shadow: 0 0 50px #333;
}

.proy-card {
  display: flex;
  flex-direction: column;  
}
.proy-card__img{
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.proy-card__text {
  text-align: justify;
}

.proy-card__content {
  padding: 20px;
}
.grid-item-prox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item-prox {
  box-shadow: 0 0 30px #333;
}
.grid-item-prox:hover {
  transform: translateY(-.5%);
  box-shadow: 0 0 50px #333;
}
@media screen and (max-width: 900px){
  .grid-container {
    grid-template-columns: 1fr;
  }
}

/* Formulario de contacto */

.contact {
  background: linear-gradient(to bottom, #333, #333);
  width: 100%;
  padding: 50px;
}

.contact h2{
  margin-bottom: 10px;
}
.contact:hover .animatedCubic, .techs:hover .animatedCubic, .sobre-mi:hover .animatedCubic {
  animation: moveslefttoRight 4s ease .5s infinite alternate both;
}
.animatedCubic {
  height: 2px;
  width: 100px;
  box-shadow: 0 0 50px #0f0;
  background-color: #060;
  margin: auto auto 60px;
}

@keyframes moveslefttoRight {
  0%{
    transform: scaleX(1);
  }
  50%{
    transform: scaleX(3.5);
  }
  70%{
    transform: scaleX(1);
  }
  100%{
    transform: scaleX(3.5);
  }
}

.contact {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.contact p {
  margin: auto;
  text-align: center;
}
.contact a {
  color: #fff;
  background-color: #06c;
  text-decoration: none;
  margin: auto;
}

/* Pie de pagina con informacion de RRSS*/

footer {
  background-color: rgb(12, 12, 14);
  text-align: center;
  height: 100%;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
}

.footer__h2 {
  margin: 0;
}
footer a {
  font-size: 25px;
  padding: 0;
  margin: 0 10px;
  text-decoration: none;
  transition: all 0.5s;
  color: #66f;
}
footer p {
  font-size: 25px;
  padding: 0;
  margin: 0 10px;
  text-decoration: none;
  transition: all 0.5s;
  color: #66f;
}
footer a:hover{
  text-decoration: underline;
  color: #fff;
  cursor: pointer;
}
.footer-cont {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.copyright-footer {
  text-align: center;
  margin: 0 20px;
  font-size: 1em;
}