 * {
     margin: 0;
     padding: 0;    
     box-sizing: border-box;
     font-size: 1em;
 }

body{
    background-color: #000;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

/* Primera pantalla de la pagina, header y nav*/
header {
    background-image: url(img/bg-new-york.jpg);
    height: 700px;
    width: 100%;
}
nav {
    display: flex;
    flex-direction: row;
    flex-flow: flex-end wrap;
    font-family: 'Dancing Script', cursive;
    background: linear-gradient(to left, transparent, lightblue);
    position: absolute;
    width: 100%;    
    height: 50px;
}

nav span {
    flex: 3;
    font-size: 35px;
}
header a{
    text-decoration: none;
    color: #000;
    padding: 0 10px;
    font-style: bold;
    font-size: 25px;
    margin: 10px;
}
header nav a:hover {
    color: #fff;
    border: 2px solid #000;
    border-radius: 100px;
    box-shadow: 10px 10px 8px #000; 
}

.titulos-header{
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 250px 0 200px;  
    margin: auto;
    text-align: center;
    
}
.titulos-header--h1 {
    transition: all .8s;
    font-size: 50px;
}

.titulos-header--h1:hover {
    color:rgb(8, 6, 10);
    font-size: 70px;
    
}

.titulos-header a{
    font-style: normal;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    transition: all .8s;
    text-decoration: underline;
    margin: 50px 0;
}

.titulos-header a:hover {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

/* Contenido principal de la pagina */
main {
    width: 100%;
}

h2 {
    text-align: center;
    margin: 50px 0;
    font-size: 30px;
}
.contenedor {
    width: 100%;
    padding: 10px;
}

section > div {
    display: flex;
    flex-direction: row;
    flex-flow: center wrap;
}

section > div > div {
    max-height: 300px;
}
.sobre-mi {
    background-color: rgb(17, 15, 161);
}
.proyectos{
    background-color: rgb(15, 161, 27);
}
.articulos-escritos {
    background-color: rgb(62, 122, 72);
}


/* Formulario de contacto */

.contact {
    background-color: #333;
}
.form { 
    display: flex;
    flex-flow: row wrap;
    padding: 50px 0 50px 50px;
    width: 100%;
    height: 100%;
}
.form__flex-input {
    display: flex;
    flex-direction: column;
    flex-flow: space-between wrap;
    align-content: center;
    width: 100%;
    flex: 2;
    padding: 50px;
    margin: 0 50px;
}
.form__input {
    color: #fff;
    background: linear-gradient(to top, #222, #333);
    margin: 10px 10px;
    padding: 5px;
    border: none;
    text-align: left;
    outline: none;
    border-bottom: 1px solid #000;
    border-radius: 5%;
}

#mensaje {
    height: 150px;
    resize: none;
}

.form__input::placeholder{
    color: #fff;
    font-family: 'Sen', sans-serif;
    text-align: left;
}
.form__input:focus {
    outline: none;
    border-bottom: 5px solid #000;
    transition: all .4s;
}
.form__button {
    text-align: center;
    color: #fff;
    background: #000;
}

.form__button:active {
    background-color: transparent;
}

.form__img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
}

.form__img img {
    max-width: 350px;
    min-width: 150px;
    border-radius: 50%;
    margin: auto;
}


/* Pie de pagina con informacion de RRSS*/

footer {
    background-color: rgb(12, 12, 14);
    text-align: center;
    height: 100%;
    margin: 0;
}
footer a {
    font-size: 25px;
    padding: 20px;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    color: white;
}

.footer-cont {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: center wrap;
}
.footer-cont a {
    min-width: 150px;
    max-width: 350px;
    flex: 1;
}

.copyright-footer {
    text-align: center;
    margin: 0 20px;
}
.copyright-footer img {
    height: 20px;
    width: 20px;
}